security:
    password_hashers:
        App\Entity\Users:
            algorithm: auto

    providers:
        app_user_provider:
            entity:
                class: App\Entity\Users
                property: user

    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|js|images)/
            security: false

        main:
            lazy: true
            provider: app_user_provider
            form_login:
                login_path: login
                check_path: login
                success_handler: App\Security\LoginSuccessHandler
            logout:
                path: /logout
                target: /login

    access_control:
        - { path: ^/admin, roles: ROLE_ADMIN }
        - { path: ^/agent, roles: ROLE_AGENT }
        - { path: ^/sousagent, roles: ROLE_SOUSAGENT }
        - { path: ^/login, roles: PUBLIC_ACCESS }
        - { path: ^/centres, roles: ROLE_ADMIN }
        - { path: ^/chat, roles: [ROLE_ADMIN, ROLE_AGENT, ROLE_SOUSAGENT, ROLE_USER] }


        
