parameters:
    photos_directory: '%kernel.project_dir%/public/uploads/photoprofile'
    modele_excel_directory: '%kernel.project_dir%/public/uploads/modele'

services:
    _defaults:
        autowire: true
        autoconfigure: true
        bind:
            $photosDirectory: '%photos_directory%'
            $modeleExcelDirectory: '%modele_excel_directory%'

    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Kernel.php'
            - '../src/Tests/'

    App\Service\ModeleExcelParClasseGenerator:
        arguments:
            $projectDir: '%kernel.project_dir%'

    App\EventListener\LoginListener:
        tags:
            - { name: 'kernel.event_listener', event: Symfony\Component\Security\Http\Event\LoginSuccessEvent, method: onLoginSuccess }

    App\EventListener\RequestListener:
        tags:
            - { name: kernel.event_listener, event: kernel.controller, method: onKernelController, priority: 0 }
