/* base.css */
body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #f7f9fb;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1;
    padding: 20px;
    margin-top: 80px;
    margin-bottom: 70px;
    text-align: right;
}

@media (max-width: 768px) {
    .main-content {
        padding: 10px;
        margin-top: 120px;
        text-align: right;
    }
}
.page-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: right;
}