body {
    background-color: #eee;
    padding: 0px;
}

.custom-card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    width: 160px; /* plus petit */
    background-color: #fff;
    transition: transform 0.2s ease;
}

.custom-card:hover {
    transform: scale(1.03);
}

.image-container {
    position: relative;
    width: 100%;
    height: 120px;
    overflow: hidden;
    border-radius: 10px;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.overlay-title {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    padding: 3px 0;
    font-size: 14px;
    font-weight: 600;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.info-text {
    font-size: 12px;
    color: #333;
    margin-top: 4px;
    margin-bottom: 0;
}
